// MAIN
main {
    background: $secondary-col;

    .container {
        display: flex;
        justify-content: center;
        margin-left: 25%;
        width: 50%;
    }

    .cds-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 50px 10px;
        list-style: none;
    }
    
    .cd {
        flex-basis: 240px;
        margin: 10px 20px;
        padding: 14px;
        text-align: center;
        background: $black;
    }
    
    .cd img {
        width: 178px;
    }
    
    .cd .title {
        margin: 14px 0;
        font-size: 22px;
        color: $white;
    }
    
    .cd .author, 
    .cd .year,
    .cd .genre {
        margin-bottom: 8px;
        color: $white;
    }
    
    .cd .author {
        font-size: 18px;
    }
}